<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main>
  <p> "About Us"</p>
  <% include ../static/partials/navbar.ejs %>
    </main>
  </body>
</html>
